.Cell {
  text-align: center;
}

.Cell_flag {
  width: 10%;
}

.Cell_name {
  width: 30%;
}

.Cell_population {
  width: 15%;
}

.Cell_languages {
  width: 20%;
}

.Cell_region {
  width: 20%;
}

.Cell_card {
  width: 5%;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
}
